<div class="container my-4">
  <%= render @post %>
  <div class="py-3">
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>
    <%= button_to "Destroy this post", @post, method: :delete , class: "btn btn-danger my-3" %>
  </div>
</div>
<div class="container">
  <%= render "comments/form", post: @post, comment: @post.comments.build %>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", post: @post , comment: comment %>
  <% end %>
</div>
<%#
mô hình Post có mối quan hệ has_many với mô hình Comment, 
bạn có thể sử dụng @post.comments.build để tạo một đối tượng Comment mới được liên kết với post đó
%>